:root {
    --primary: #A84FFF;
    --secondary: #D81E58;
    --dark: #131A26;
    --light: #EEEEEE;
    --grey: #888888;

    --font: 'Fire Sans', sans-serif;
    --font-quote: 'Fire Code', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--light);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.quote {
    position: relative;
}

blockquote {
    font-family: var(--font-quote);
    max-width: 720px;
    font-size: 2rem;
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
    padding: 3rem;
    border-radius: 1.5rem;
    color: #FFF;
}

.anime, .character {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: var(--light);
    border-radius: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anime {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-weight: 400;
    transform: translate(-25%, 50%);
}

.character {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-weight: 700;
    transform: translate(25%, 50%);
    position: absolute;
    right: 0;
    bottom: 0;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: #FFF;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    margin-top: 64px;
    margin-bottom: 64px;
    transition: 0.4s;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondary);
}
